<div class='row'>
  <nav class='navbar navbar-expand-lg bg-body-danger' data-bs-theme='dark'>
    <div class='container-fluid'>
      <a class='navbar-brand' href=''>Horizon</a>
      <div class='collapse navbar-collapse' id='navbarSupportedContent'>
        <ul class='navbar-nav me-auto mb-2 mb-lg-0'>
          <li class='nav-item'>
            <a
              class='nav-link'
              aria-current='page'
              href='/collection-point/profile'
            >
              Perfil
            </a>
          </li>
          <li class='nav-item'>
            <a
              class='nav-link active'
              aria-current='page'
              href='/collection-point/dashboard'
            >
              Dashboard
            </a>
          </li>
        </ul>
        <!-- Botão de Logout alinhado à direita -->
        <ul class='navbar-nav ms-auto'>
          <li class='nav-item'>
            <a class='nav-link' href='/collection-point/logout'>
              Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

&nbsp; &nbsp; &nbsp; &nbsp;

<div class='row' style="margin-top:14px">
  <div class='container mt-5'>

    <h1>Dashboard</h1>
  </div>
</div>