<form action='/collection-point/reset-password' method='POST'>
  <label for='token'>Token:</label>
  <input type='text' id='token' name='token' required />

  <label for='password'>Nova Senha:</label>
  <input type='password' id='password' name='password' required />

  <button type='submit'>Redefinir Senha</button>
</form>