<div class='login__container'>
  <div class='login__wrapper'>
    <img src='/assets/images/drop-hand.png' alt='' />
    <h1>Esqueceu a senha</h1>

    <form action='/forgot-password' method='POST' class='login__form'>
      <div class='login__form_input_container'>
        <input type='email' name='email' placeholder='E-mail' required />
      </div>

      <button type='submit' class='login__form_confirm_button'>Enviar e-mail de
        redefinição</button>
      <a class='login__link_to_signup' href='/login'>Voltar</a>

    </form>
  </div>
</div>