  <nav class="navbar">
  <a href="/" class="navbar__logo_a">
    <img src="/assets/images/logo.png" alt="Desenho da logo da Horizon, uma gota de sangue com Horizon escrito ao lado" class="navbar__logo_img" />
  </a>

  <!-- Menu Toggle Button (aparece em telas pequenas) -->
  <div class="navbar__menu_toggle" id="menu-toggle">
    <i class="fa fa-bars"></i>
  </div>

  <div class="navbar__links" id="navbar-links">
    <a href="/" class="navbar__link">Home</a>
    <a href="/mitos" class="navbar__link">Mitos</a>
    <a href="/beneficios" class="navbar__link">Benefícios</a>
    <a href="/contato" class="navbar__link">Contato</a>
    <a href="/apoiadores" class="navbar__link">Apoiadores</a>
  </div>

  <div class="nav-item dropdown navbar__avatar_container">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <i style="font-size: 250%; color: white" class="fa-regular fa-user"></i>
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/login">Login/Cadastro Doador</a></li>
      <li><a class="dropdown-item" href="/collection-point/login">Login/Cadastro Ponto de Coleta</a></li>
      <li><a class="dropdown-item" href="/login">Logout</a></li>
      <li><a class='dropdown-item' href='/my-schedules'>Meus agendamentos</a></li>
    </ul>
  </div>
</nav>

<script>
  // Mostrar/Esconder o menu em dispositivos móveis
  const menuToggle = document.getElementById('menu-toggle');
  const navbarLinks = document.getElementById('navbar-links');
  
  menuToggle.addEventListener('click', function() {
    navbarLinks.classList.toggle('show');
  });
</script>
<div class="mit_corpo">
    <header class="mit_header1">
        <div class="mit_header2">Mitos e curiosidades</div>
        <div class="mit_header3">
            Tatuagens, doenças e dores. Confira os mitos e verdades sobre a doação de sangue.
        </div>
    </header>

    <main class="mit_main">
        <section class="mit_info">
            <div class="mit_content">
                <p class="red">"Doar sangue dói muito, por isso não doou!"</p>
                <p>
                    São muitas as notícias falsas e os mitos espalhados sobre a doação de sangue. No Brasil, é comum
                    ouvir declarações como "doar sangue pode te contaminar com alguma doença" ou "não vou doar sangue
                    porque isso enfraquece o corpo para sempre". Essas notícias falsas são prejudiciais e fazem com
                    que milhares de pessoas deixem de doar sangue anualmente. Isso resulta em baixos níveis nos bancos
                    de sangue do país e reflete diretamente na porcentagem de doadores ativos, que hoje é de apenas
                    1,4% no Brasil.
                </p>
            </div>
            <img src="assets/images/mao.png" alt="Mito sobre doação de sangue" />
        </section>

        <section class="mit_info">
            <img src="assets/images/gota.png" alt="Mito sobre doação de sangue" />
            <div class="mit_content">
                <h3>O que iremos abordar?</h3>
                <p>
                    Nesta sessão, nossa equipe separou os principais mitos que foram espalhados sobre a doação de
                    sangue. Além disso, mostraremos a verdade por trás dessas notícias falsas.
                </p>
            </div>
        </section>

        <section class="mit_myth">
            <div class="mit_mitos">
                <h3>"Doar sangue dói muito!"</h3>
                <p>
                    A sensação de dor durante a doação de sangue é mínima. A picada da agulha pode causar um
                    desconforto breve, mas a maioria das pessoas descreve a experiência como sendo pouco dolorosa.
                    Profissionais treinados garantem que o processo seja o mais confortável possível.
                </p>
            </div>

            <div class="mit_mitos">
                <h3>"Tenho tatuagens, então, não posso doar sangue"</h3>
                <p>
                    Pessoas com tatuagens podem doar sangue, desde que a tatuagem tenha sido feita em um estúdio
                    licenciado e que tenha passado um período de tempo específico, geralmente de seis meses a um ano,
                    desde a realização da tatuagem. Isso é para garantir que não haja risco de infecções transmitidas
                    pelo sangue.
                </p>
            </div>

            <div class="mit_mitos">
                <h3>"Eu não posso doar sangue porque tenho um tipo sanguíneo comum"</h3>
                <p>
                    Todos os tipos de sangue são necessários. Tipos comuns, como O+ e A+, são frequentemente em alta
                    demanda porque muitas pessoas os utilizam.
                </p>
            </div>

            <div class="mit_mitos">
                <h3>"Vou me contaminar com alguma doença, pois a agulha de doação é usada em todo mundo"</h3>
                <p>
                    Algumas pessoas acreditam que a doação de sangue pode transmitir doenças. No entanto, todos os
                    materiais usados na coleta de sangue são estéreis e descartáveis, garantindo que não haja risco de
                    infecção para o doador.
                </p>
            </div>

            <div class="mit_mitos">
                <h3>"Homossexuais não podem doar sangue"</h3>
                <p>
                    Este mito é baseado em preconceitos e informações desatualizadas. No passado, muitos países,
                    incluindo o Brasil, impunham restrições à doação de sangue por homens que fazem sexo com homens
                    (HSH) devido ao risco de HIV. No entanto, desde 2020, o Supremo Tribunal Federal (STF) decidiu que
                    essa proibição era inconstitucional. Agora, todos os indivíduos, independentemente da orientação
                    sexual, podem doar sangue.
                </p>
            </div>

            <div class="mit_mitos">
                <h3>"Idosos não podem doar sangue"</h3>
                <p>
                    Não há uma idade máxima para a doação de sangue. Enquanto a pessoa estiver saudável e cumprir os
                    requisitos de saúde, pode doar sangue independentemente da idade.
                </p>
            </div>

            <div class="mit_mitos">
                <h3>"Eu não posso doar sangue, pois tenho pressão alta ou baixa"</h3>
                <p>
                    Pessoas com pressão arterial controlada, seja alta ou baixa, geralmente podem doar sangue. É
                    importante que a pressão esteja dentro dos limites seguros no momento da doação.
                </p>
            </div>

            <div class="mit_mitos">
                <h3>Mulheres não podem doar sangue em período menstrual</h3>
                <p>
                    Mulheres podem doar sangue durante a menstruação, desde que se sintam bem e atendam a todos os
                    requisitos de saúde.
                </p>
            </div>

            <div class="mit_mitos">
                <h3>"Doar sangue pode enfraquecer meu corpo"</h3>
                <p>
                    O corpo repõe rapidamente o volume de sangue doado. A maioria das pessoas pode retornar às suas
                    atividades normais logo após a doação, desde que sigam as recomendações de descanso e hidratação.
                    Além disso, doar sangue regularmente pode até trazer benefícios à saúde do doador.
                </p>
            </div>
        </section>

        <div class="mit_title">
            <h2>Pronto para fazer a diferença? Agende sua doação!</h2>
        </div>

        <hr class="apoia_separator">

<div class="apoia_corpo">
<div class="apoia_container">

<div class="apoia_buttons">
            <div class="apoia_button-container">
                <p>Venha você também fazer história junto com a gente! Se torne um doador clicando no botão abaixo</p>
                <a href="screening" class="apoia_button">Agendar Doação</a>
            </div>
            <div class="apoia_button-container2">
                <p>Caso você possua interesse em saber mais sobre o software HORIZON e sobre como se tornar uma das
                    instituições cadastradas, clique no botão abaixo</p>
                <a href="collection-point/signup" class="apoia_button apoia_red">Quero me cadastrar como instituição</a>
            </div>
        </div>

</div>
</div>

    </main>
</div>    <footer class="benef_footer">
      <div style="width: 90%;">
        <h1>HORIZON</h1>
        <div class="benef_div_a">
          <a href="apoiadores"
            style="border-style: none none none solid; border-width: 1px; padding-left: 1%; width: 33%; color: white;">
            Apoiadores
          </a>
          <a href="mitos"
            style="border-style: none none none solid; border-width: 1px; padding-left: 1%; width: 33%; color: white;">
            Noticias sobre doação
          </a>
          <a href="beneficios"
            style="border-style: none none none solid; border-width: 1px; padding-left: 1%; width: 33%; color: white;">
            Benefícios
          </a>
        </div>
        <div style="border-style: none;" class="benef_div_a">
          <a href="screening"
            style="border-style: none none none solid; border-width: 1px; padding-left: 1%; width: 33%; color: white;">
            Quero fazer uma doação!
          </a>
          <a href="contato"
            style="border-style: none none none solid; border-width: 1px; padding-left: 1%; width: 33%; color: white;">
            Meios de contato
          </a>
          <a href="contato"
            style="border-style: none none none solid; border-width: 1px; padding-left: 1%; width: 33%; color: white;">
            Perguntas frequentes
          </a>
        </div>
      </div>
    </footer>


