<div class='login__container'>
  <div class='login__wrapper'>
    <img src='/assets/images/drop-hand.png' alt='' />
    <h1>Esqueceu a senha</h1>

    <form
      action='/reset-password'
      method='POST'
      class='login__form'
      id='resetPasswordForm'
    >

      <p class='password_info'>Use oito ou mais caracteres com uma combinação de
        letras, números e símbolos.</p>
      <input type='hidden' name='token' value='{{token}}' />

      <div class='login__form_input_container'>
        <input
          type='password'
          placeholder='Senha'
          id='senha'
          name='senha'
          required
        />
      </div>
      <div class='login__form_input_container'>
        <input
          type='password'
          placeholder='Confirmar Senha'
          id='confirmarSenha'
          name='confirmarSenha'
          required
        />
      </div>
      <span id='senhaError' class='login__error_message'></span>
      <span id='confirmarSenhaError' class='login__error_message'></span>

      <button type='submit' class='login__form_confirm_button'>Redefinir Senha</button>
      <a class='login__link_to_signup' href='/login'>Voltar</a>

    </form>
  </div>
</div>